.weather{
    width: 350px;
    border-radius: 5px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
    margin: 20px auto 0 auto;
    padding:0 2% 2% 2%;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.location{
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    margin:0;
    letter-spacing: 0px;
}

.weather-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin:0;
    letter-spacing: 1px;
}

.weather-icon{
    width: 100px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.bottom-left{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
} 

.details{
    display: flex;
    justify-content: space-around;
}

.details-label{
    font-weight: 500;
    font-size: 18px;
    width:100px;
}

.details-value{
    font-weight: 500;
    font-size: 17px;
    text-align: left;
    width: 50px;
}

.temperature{
    font-weight: 600;
    font-size:60px;
    width: auto;
    line-height: 1;
    margin:10px 0;
}

